.fundoCadastro {
  background-image: url(../../assets/21532488_6463400.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  /* background-position: center; */
}

